<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>
<body>
    <form action="add" method="POST">
        Employee name:
        <input type="text" name="Ename" id="">
        <br>
        Age:
        <input type="text" name="Eage" id="">
        <br>
        Gender:
        <input type="text" name="Egender" id="">
        <br>
        <input type="submit" value="Insert">
    </form>
</body>
</html>