<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add item</title>
</head>
<body>
    <div>
    <form action="add" enctype="multipart/form-data" method="POST">
        Product name:
        <input type="text" name="Pname" id="">
        <br>
        Color:
        <input type="text" name="Pcolor" id="">
        <br>
        Price:
        <input type="text" name="Pprice" id="">
        Status:
        <input type="text" name="Pstatus" id="">
        <br>
        Image:
        <input style="margin-top: -8px;" type="file" name="picture" accept="image/*" required>
        <input type="submit" value="Add">
    </form>  
    </div>
    
</body>
</html>